.DS_Store
node_modules/
.env
.env.*
!.env.example

# turborepo
.turbo/

# next.js
.next/
out/

# build outputs
dist/
build/
storybook-static/

# testing
coverage/
playwright-report/
test-results/
**/playwright/.auth/

# lighthouse ci
.lighthouseci/

# prisma
*.db
*.db-journal
apps/api/src/generated/

# logs
*.log

# typescript
*.tsbuildinfo
